.register-form{
    width: 440px;

    background-color: rgba(#ffffff, .8);
    padding: 2rem;
    min-height: 100%;
}
.item{
    width: 100%;
}

.register-respounce{
    background-color: rgba(#ffffff, .8);
    padding: 2rem 4rem;
}