.register-container{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    background-image: url("../../assets/images/abstraction.jpg");
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 65.8px);
}