.ant-table-wrapper{
    max-width: 90rem;
    margin: 0 auto;
    padding-top: 0.5rem;
}

.users-form{
    max-width: 90rem;
    margin: 0 auto;
    padding-top: 1rem;
}

.link{
    padding: 4px 15px;
}